* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
    display: flex;
}
.main-wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}
.wrapper-left{
    border-radius: 0px;
}
.login-image{
    width: 700px;
    height: 665px;
}   
.wrapper-right{
    width: 100%;
    /*border-radius: 0px;*/
    background: #FFFFFF;
    /* height: 100%; */
}
.h2{
    margin-top: 20%;
    margin-left: 8%;
    /*border-radius: nullpx;*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.h3-1{
    margin-top: 3%;
    margin-left: 8%;
    /*border-radius: nullpx;*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
     color: #000000;
}
.email-box{
    margin-top: 40px;
    margin-left: 8%;
    height: 45px;
    width: 80%;
    font-size: 13px;
    border-radius: 6px;
    padding-left: 10px;
}
.password-box{
    margin-top: 5%;
    margin-left: 8%;
    width: 80%;
    height: 40px;
    font-size: 13px;
    border-radius: 6px;
    padding-left: 10px;
}

.login-button{
    margin-top: 5%;
    margin-left: 8%;
    width: 80%;
    height: 45px;
    border-radius: 6px;
    background-color: #46c3d0;
    color: #FFFFFF;
}
.login-button:hover {
    background-color: #46c3d0;
    color: white;
    cursor: pointer;
}
.h3-2{
    margin-top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #373737;
}
.a-2{
    font-size: 13px;
    color: #000000;
    text-decoration: none;
}


@media (max-width:892px)  {
    .main-wrapper{
        display: flex;
        height: 100%;
        width: 100%;
        margin-top: 5%;
    }
    .wrapper-left{
        width: 100%;
        display: none;
    }
    .login-image{
        display: none;
    }
    .wrapper-right{
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 80%;
        border-radius: 0px;
        background: #FFFFFF;
    }
}

@media (max-width:552px)  {
    .main-wrapper{
        flex-direction: column;
        margin-left: 10%;
        height: 100%;
        width: 80%;
        justify-items: center;
    }
    .wrapper-left{
        display: none;
    }
    .login-image{
        display: none;
    }
    .wrapper-right{
        height: 100%;
        width: 100%;
        border-radius: 0px;
        background: #FFFFFF;
    }
}

@media (max-width:320px) {
    .main-wrapper{
        margin-top: 50%;
    }
}
